body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size:50px;
}

.name_color{
    color: orange;
}

section{
    display:flex
}

.half_width{
    width:50%;
    padding:5%;
}

.half_width img{
    width: 400px;
    border: 10px solid #00A7E1;
    padding-right: 50px;
    padding-left: 50px;
}

.link_Button{
    color: aliceblue;
    font-weight: 700;
    /* remove the underline of a link */
    text-decoration: none;
    background-image: linear-gradient(orange, red);

    /* up&down padding 10px right&left 40px */
    padding: 10px 40px;
    border-radius: 10px;
}