body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size:50px;
}

.name_color{
    color: #00A7E1;
}

.first_part{
    display:flex;
}

.half_width{
    width:50%;
    padding:5%;
}

.half_width img{
    width: 400px;
    border: 10px solid #00A7E1;
    padding-right: 50px;
    padding-left: 50px;
}

.link_Button{
    color: aliceblue;
    font-weight: 700;

    /* remove the underline of a link */
    text-decoration: none;

    /* add gradient */
    background-image: linear-gradient(orange, red);

    /* up&down padding 10px right&left 40px */
    padding: 10px 40px;
    border-radius: 10px;
}

.first_part{
    /* add image */
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.second_part{
    display: flex;

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;

    background-position: right;
}

.resume_link_Button{
    color:aliceblue;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(red, rgb(201, 55, 2));
    padding: 10px 40px;
    border-radius: 10px;
}

.dream{
    padding: 20px 10px;
}